:root {
  --color-primary: #2274a5;
  --color-primary-contrast: white;
  --color-primary-shadow: #131b23;
  --color-secondary: #e7dfc6;
  --color-success: yellow;
  --color-warning: yellow;
  --color-error: yellow;
  --color-link: green;
  --color-subdued: gray;
  --color-contrast: #131b23;
  --color-markdown-code: lightgray;
  --color-faq-code: gainsboro;
  --spacer-s: 5px;
  --spacer-m: 12px;
  --spacer-l: 18px;
  --tooltip-text-color: white;
  --tooltip-background-color: black;
  --tooltip-margin: 30px;
  --tooltip-arrow-size: 6px;
  --callout-info-backgorund-color: #2274a5;
  --callout-info-border-color: blue;
  --callout-info-color: white;
  --callout-warning-backgorund-color: yellow;
  --callout-warning-border-color: blue;
  --callout-warning-color: white;
  --callout-danger-backgorund-color: red;
  --callout-danger-border-color: blue;
  --callout-danger-color: white;
  --callout-border-size: 0.2em;
  --callout-border-type: solid;
  --callout-padding: 0.5em;
  --callout-font-size: 0.8rem;
  --callout-filter: brightness(0.9);
}