.cards {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  width: 100%;
  gap: 1.25rem;

  > .card {
    margin-bottom: 0 !important;
  }
}

.checkboxes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, auto));
  gap: 0.5rem;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}